body {
    background-color: whitesmoke;
}

button {
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 8px;
	color: white;
	background: #3882F6;
	border-color: #3882F6;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px; 
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.players {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-left: 30px;
}

.results {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.final {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.resetBtn {
    display: none;  
}

.resetBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}